  <!--Delete Modal-->
  <!-- Modal -->
  <div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
            <h3 style="color: red">You are going to delete the data of "{{clickedUser.name}}". All information will be deleted and can't be undone. </h3>
            <br/>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deleteUser()">Yes</button>	      	
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
    </div>
  </div>
  </div>