<h2>Contact Data </h2>       
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Order By Name-->
      <tr ng-repeat= "user in users | orderBy : 'name'">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.mobileNumber}}</td>
        <td> <button class="btn btn-info btn-sm"  type="button" data-toggle="modal" data-target="#myModalEdit" ng-click="selectUser(user)">Edit</button> </td>
	      <td> <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModalDelete" ng-click="selectUser(user)">Delete</button> </td>
	      </tr>		      
      </tr>
    </tbody>
  </table>
  
<div ng-include="'/static/views/update_data.html'"></div>

<div ng-include="'/static/views/delete_data.html'"></div>